/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";


html, body {
    height: 100%;
}
.slide-menu {
  position: fixed;
    -webkit-transform: translateX(-285px);
    -ms-transform: translateX(-285px);
    transform: translateX(-285px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
  background: #fff;
  top:0;
  bottom: 0;
  color: #333;
  z-index: 9999;
  width: 250px;
    -webkit-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
}
.slide-header {
  height: 70px;
  color: #fff;
  top:0;
  background: url(../images/despaceLogo.png)no-repeat center center/cover;
  position: relative;
  background-size: 120px;
  text-align: center
}
.slide-close-button button:hover{
  background-color: #a1a1a1
}
.slide-close-button button:active {
  background-color: #bbb
}
.slide-close-button button {
  background: #aaa;
  border: 0;
  font-size: 16px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: -15px;
  outline: none;
  right: 2em;
  z-index: 99999;
}
.slide-header>h1 {
  padding: 2em 0 0
}
.slide-header p {
  font-size: 12px
}
.slide-menu>.slide-menu-here>.menu {
  padding: .5em 0;
}
.slide-menu>.slide-menu-here>.menu li {
  position: relative
}
.slide-menu>.slide-menu-here>.menu li>a{
  padding: .8em 1em;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ececec;
  display: inline-block
}
.slide-menu>.slide-menu-here>.menu li.title span {
  padding: .8em 1em;
  border-bottom: 1px solid #ececec;
  width: 100%;
  position: relative;
  display: inline-block;
}
.slide-menu>.slide-menu-here>.menu li>.sub-menu {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    -webkit-transition-duration: .65s;
    transition-duration: .65s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    display:none
}
.slide-menu>.slide-menu-here>.menu li>.sub-menu.active {
  display: block;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.slide-menu>.slide-menu-here>.menu li>.sub-menu>li>a {
  padding-left: 2em;
  font-size: 13px;
  border-bottom: 1px solid #f5f5f5
}
.slide-menu>.slide-menu-here>.menu li.title>.dropdownmenu:after {
  content: "\f107";
  top: 10px;
  position: Absolute;
  right: 2em;
  background-color: #aaa;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  line-height: 20px;
  color: #fff;
  font: normal normal normal 14px/20px FontAwesome;
}
.slide-menu a:hover {
  background-color: #f8f8f8
}
/* Slide Left  */
.slide-left {
      -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 99999;
}
.mdl-layout__obfuscator {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.slide-left~.mdl-layout__obfuscator {
    background-color: rgba(0,0,0,.5);
    visibility: visible;
    z-index: 45;
}

.addShadow{
    @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.4));
}
header {
    // -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 34;
    min-width: 100%;

    .navbar {
        margin-bottom: 0px;
        background: #fff;
        padding: 45px 0.9375rem 45px 0.9375rem;
        transition: all 0.5s ease 0.1s;
        border-radius: 0px;
    }

    .padding-on-my-header {
        padding: 17px 0.9375rem 35px 0.9375rem;
    }

    .navbar-toggle .icon-bar {
        background-color: #19ecff;
    }

    .navbar-brand {
        padding: 0px 15px;

        img {
            width: 50%;
            transition: all 0.5s ease 0.1s;
        }
    }
    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

    @include keyframes(tag-bounce) {
  0% {
    @include transform( scale(0.90) );
    opacity: 0;
  }
  50%{
    @include transform( scale(0.95) );
  }
  100% {
    @include transform( scale(1.0) );
  }
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@include keyframes(no-anim) {
  
}


@mixin animation ($stuff ) {
    -webkit-animation: $stuff;
    -moz-animation: $stuff;
    -ms-animation: $stuff;
    animation: $stuff;
}
    .dropdown{

    }
    .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
    @include animation(tag-bounce 0.2s  ease-in);
    
   
 }

    .nav li a {
        color: lightslategrey;
        border-top: 1px solid transparent;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: none !important;

        

        @include transition-duration(0.75s);

        @include transition-timing-function(ease-in);

        &:hover {
            border-top: 1px solid #47a3da;
            box-shadow: none;
            background-color: transparent;
            color: #47a3da;
        }

        &:focus {
            background-color: #fff;
        }
    }

    .navbar-right {
        margin-top: 1.85em;
    }
}

@media screen and (max-width: 400px) {
    header .container-fluid {
        padding: 0px;
    }
}

@media screen and (max-width: 768px) {
    header .navbar {
        padding: 10px 0.9375rem 15px 0.9375rem;
    }
}

@media screen and (max-width: 768px) {
    header .padding-on-my-header {
        padding: 10px 0.9375rem 15px 0.9375rem;
    }
}

@media screen and (max-width: 400px) {
    header .navbar-brand {
        padding-right: 0px;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    header .navbar-brand img {
        width: 40%;
        @include transform(translateY(-3px));
    }
}

@media screen and (max-width: 768px) {
    header .nav li {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    header .nav li a:hover {
        border-top: 1px solid transparent;
    }
}

.header-fill {
    background: #fff;
    height: 120px;
}

@media screen and (max-width: 768px) {
    .header-fill {
        height: 40px;
    }
}

footer {
    min-height: 140px;

    .deSpace-home-contact article {
        max-width: 960px;
        margin: 0em auto;
        text-align: center;

        .list-inline li {
            &:nth-child(3) {
                padding-right: 2em;
            }

            &:last-child a {
                text-decoration: none;
                color: #000;
            }
        }
    }

    section article .col-lg-12 {
        &:nth-child(1) {
            margin-top: 2em;
        }

        &:nth-child(2) {
            margin-top: 3em;
        }
    }
}

.home {
    .deSpace-home-banner {
       // background: url("../images/despaceWebHome.jpg");
       background-color: #fff;
        article {
            max-width: 1200px;
            margin: 10em auto;
            h5{
                font-size: 18px;
                color: #7f888f;
            }
        }

        .col-lg-12 {
            padding: 6em 0em;
        }
    }

    .deSpace-home-about {
        //background: url("../images/despaceWebAboutUs.jpg");
        background-color: #01a3bc;
        .col-lg-12 {
            padding: 5em 0em;
        }

        article {
            max-width: 1200px;
            margin: 2em auto;
            color: #fff;
            text-align: justify;

            &:nth-child(2) {
                margin-top: 1em;
            }
            h4{
                color:#000;
                font-weight: bolder;
            }
            h5 {
                line-height: 1.75em;
                font-size: 18px;
            }
        }
    }

    /*----------pintrest-----------*/
    #demo {
        position: relative;
        max-width: 100%;
        width: 100%;
    }

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    #listWrap ul {
        position: relative;
    }

    #listWrap li {
        color: #FFF;
        border: 1px solid #FFF;
    }

    #listWrap li h2 {
        margin-bottom: 15px;
        font-size: 1.3em;
        font-weight: bold;
        text-transform: uppercase;
    }

    #listWrap li p {
        font-size: .8em;
        line-height: 140%;
        opacity: .7;
    }

    /*---------------Overlay--------------*/
    .content {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .content .content-overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .content:hover .content-overlay {
        opacity: 1;
    }

    .content-image {
        width: 100%;
    }

    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    .content:hover .content-details {
        top: 90%;
        left: 50%;
        opacity: 1;

        @media screen and (max-width: 768px) {
            top: 80%;
        }
    }

    .content-details h3 {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }

    .content-details p {
        color: #fff;
        font-size: 0.8em;
    }

    .fadeIn-top {
        top: 20%;
    }

    .deSpace-home-work .col-lg-12 article {
        
        
            h5{
                color:#01a3bc;
                font-weight: bolder;
                font-size: 18px;
            }
            &:nth-child(1){
                max-width: 1200px;
                margin: 1em auto;
            }
            &:nth-child(n+2){
                max-width: 1400px;
                margin: 1em auto;
            }
        
        div {
            height: 350px;

            @media screen and (max-width: 768px) {
                height: 295px;
            }

            @media screen and (max-width: 600px) {
                height: 225px;
            }

            > section {
                height: 100%;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

                &:hover {
                    -webkit-transition-delay: 0.1s;
                    -moz-transition-delay: 0.1s;
                    -ms-transition-delay: 0.1s;
                    transition-delay: 0.1s;
                    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                }
            }

            &.col-lg-6 {
                padding: 2%;
            }
        }

        .despaceWebExibition {
            background: url("../images/despaceWebExibition.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .despaceWebPrint {
            background: url("../images/despaceWebPrint.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .despaceWebPackaging {
            background: url("../images/despaceWebPackaging.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .despaceWebLogos {
            background: url("../images/despaceWebLogos.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .despaceWebCampaign {
            background: url("../images/despaceWebCampaign.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .despaceWebBranding {
            background: url("../images/despaceWebBranding.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .deSpace-home-contact article {
        max-width: 960px;
        margin: 0em auto;
        text-align: center;

        .list-inline li {
            &:nth-child(3) {
                padding-right: 2em;
            }

            &:last-child a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .home .deSpace-home-work .col-lg-12 article .col-lg-6 img {
        height: 300px;
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .home .deSpace-home-work .col-lg-12 article .col-lg-6 img {
        height: 275px;
        width: 100%;
    }
}

.brand section.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    margin-top: 5em;

    article {
        margin: 2em 0em;

        &:not(:first-child) {
            .col-lg-3 {
                overflow: hidden;

                &:hover {
                    @include transition-duration(0.35s);

                    @include transition-timing-function(linear);

                    @include box-shadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23));
                }

                img {
                    @include transition-duration(0.3s);

                    @include transition-timing-function(linear);

                    @include box-shadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23));

                    -webkit-transition: all 0.5s linear;
                    -moz-transition: all 0.5s linear;
                    transition: all 0.5s linear;
                    -webkit-transform: scale3d(1, 1, 1);
                    -moz-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    width: 100%;
                    margin: 2%;
                    padding: 5px;

                    &:hover {
                        -webkit-transform: scale3d(1.2, 1.2, 1);
                        -moz-transform: scale3d(1.2, 1.2, 1);
                        transform: scale3d(1.2, 1.2, 1);
                    }
                }
            }
        }
    }
}

/*---------------Chat----------------------*/
button.chat {
    position: fixed;
    bottom: 10px;
    width: 130px;
    height: 45px;
    right: 10px;
    border: 1px solid mintcream;
    outline: 0;
    border-radius: 10px;
    background-color: mediumseagreen;
    color: #fff;
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;

    &:hover {
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        -moz-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
}

#primaryWindow {
    position: fixed;
    bottom: -500px;
    width: 300px;
    right: 10px;
    border: 1px solid mintcream;
    outline: 0;
    height: auto;
    border-radius: 3px;
    color: #fff;
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;

    header {
        background-color: mediumseagreen;
    }

    .title {
        background-color: mediumseagreen;

        div {
            &[attr^=col-lg] {
                padding: 0px;
            }

            &.col-lg-3 {
                position: relative;

                button {
                    height: 15px;
                    width: 15px;

                    &.closing {
                        background: url("../images/cancel.png");
                        background-repeat: no-repeat;
                        border: 0;
                        background-size: 10px;
                        position: absolute;
                        right: -13px;
                        top: 8px;
                    }
                }
            }
        }
    }

    .off-message small {
        font-size: 12px;

        &:first-child {
            color: #999;
        }

        &:last-child {
            color: #333;
        }
    }

    .form-fill {
        label {
            color: #888;
            font-size: 12px;
        }

        button {
            background-color: mediumseagreen;
        }
    }
}

#liveChatWindow {
    position: fixed;
    bottom: -500px;
    width: 300px;
    right: 10px;
    border: 1px solid mintcream;
    outline: 0;
    border-radius: 3px;
    color: #fff;
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;

    .live-Chat-body {
        height: 300px;
    }

    .live-Chat-title {
        background-color: mediumseagreen;
        color: #fff;
        padding: 5px 0;

        .pull-right {
            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .live-Chat-header {
        margin: 4px 0px;
        border-bottom: 1px solid #f2dede;
        padding-bottom: 4px;
        color: #444;

        img {
            height: 30px;
            width: 30px;
        }

        small {
            padding-left: 1em;
        }

        div {
            &.col-lg-12 {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}